@import "tailwindcss";

@theme {
  --color-beige-claire: #f5f0e8;
  --color-beige: #e3d5c3;
  --color-marron: #4b2f23;
  --color-or: #c9a15d;
  --color-vert: #095228;
  --color-rouge: #e55b5b;

  --font-titre: 'Playfair Display', serif;
  --font-corps: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #f5f0e8;
  color: #4b2f23;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: #4b2f23;
  text-transform: uppercase;
  margin-top: 0;
}
